@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
/* * {
  background: pink;
} */
.App {
  text-align: center;
  display: flex;
  align-items: center;
  margin: 2%;
  flex-wrap: wrap;
}
img {
  border-radius: 50%;
}
.discription {
  width: 50%;
}
h1 {
  font-family: "Roboto", sans-serif;
}
